<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTB Dynamic</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style>
        body {
            background-color: #1E1E1E;
            /* 设置背景为黑色 */
            color: white;
            /* 设置文本颜色为白色，以便在黑色背景上清晰可见 */
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>

    <h1>日志输出</h1>
    <div id="log-container">
        <!-- 日志内容会显示在这里 -->
    </div>
    <button id="toggle-scroll">关闭自动滚动</button>
    <button onclick="showInputDialog()">更新微博Cookies</button>
    <script>
        let autoScroll = true;

        // 获取按钮元素
        const toggleButton = document.getElementById('toggle-scroll');

        // 按钮点击事件
        toggleButton.addEventListener('click', function () {
            autoScroll = !autoScroll; // 切换自动滚动状态
            toggleButton.textContent = autoScroll ? '关闭自动滚动' : '开启自动滚动';
        });
        function fetchLogs() {
            fetch('/logs')
                .then(response => response.json())
                .then(data => {
                    // 清空日志容器
                    const logContainer = document.getElementById('log-container');
                    logContainer.innerHTML = '';
                    // 显示所有日志
                    data.forEach(log => {
                        const p = document.createElement('p');
                        p.textContent = log.msg;
                        p.style.color = log.color;
                        logContainer.appendChild(p);
                    });
                    if (autoScroll)
                        window.scrollTo(0, document.body.scrollHeight);
                });
        }
        // 显示输入对话框
        function showInputDialog() {
            const content = prompt("Enter text to write to test.txt:");
            if (content !== null) {
                writeToFile(content);
            }
        }

        // 向后端发送写入请求
        function writeToFile(content) {
            fetch('/write-file', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: content
            })
                .then(response => {
                    console.info(response)
                    console.info(JSON.stringify(content))
                    if (response.ok) {
                        alert("Content written successfully");
                    } else {
                        alert("Error writing content");
                    }
                })
                .catch(error => {
                    alert("Error: " + error);
                });
        }
        // 定时每1秒获取一次日志数据
        setInterval(fetchLogs, 1000);

        // 初次加载时获取一次日志数据
        fetchLogs();
    </script>
</body>

</html>