<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTB Dynamic</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style>
        body {
            background-color: #1E1E1E;
            /* 设置背景为黑色 */
            color: white;
            /* 设置文本颜色为白色，以便在黑色背景上清晰可见 */
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>

    <h1>日志输出</h1>
    <div id="log-container">
        <!-- 日志内容会显示在这里 -->
    </div>
    <button onclick="showInputDialog()">更新微博Cookies</button>
    <script>
        var init = 1;
        function fetchLogs() {
            fetch('/logs')
                .then(response => response.json())
                .then(data => {
                    if (!data[0])
                        return
                    // 清空日志容器
                    const logContainer = document.getElementById('log-container');
                    logContainer.innerHTML = '';
                    // 显示所有日志
                    data[1].forEach(log => {
                        const p = document.createElement('p');
                        // 检查消息中是否包含 'url = '
                        const urlMatch = log.msg.match(/https?:\/\/[^\s]+/i);
                        if (urlMatch) {
                            // 如果找到 URL，替换 msg 中的 URL 部分
                            // 提取URL前的内容
                            const before = log.msg.slice(0, urlMatch.index);
                            // 提取URL后的内容
                            const after = log.msg.slice(urlMatch.index + urlMatch[0].length);
                            const url = urlMatch[0]; // 提取 URL
                            const a = document.createElement('a');
                            a.href = url;
                            a.textContent = url; // 也可以设置为更友好的文本，如 '点击访问链接'
                            a.target = '_blank'; // 可选：在新标签页中打开链接
                            a.style.color = log.color;
                            p.appendChild(document.createTextNode(before)); // 添加 'url' 之前的文本
                            p.appendChild(a); // 添加链接
                            p.appendChild(document.createTextNode(after));  // 添加 'url' 之后的文本
                        } else {
                            // 如果没有找到 URL，则直接设置文本内容
                            p.textContent = log.msg;
                        }
                        p.style.color = log.color;
                        logContainer.appendChild(p);
                    });
                    if (init) {
                        window.scrollTo(0, document.body.scrollHeight);
                        init = 0;
                    }
                });
        }
        // 显示输入对话框
        function showInputDialog() {
            const content = prompt("Enter new cookies:");
            if (content !== null) {
                writeToFile(content);
            }
        }

        // 向后端发送写入请求
        function writeToFile(content) {
            fetch('/write-file', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: content
            })
                .then(response => {
                    console.info(response)
                    console.info(JSON.stringify(content))
                    if (response.ok) {
                        alert("Content written successfully");
                    } else {
                        alert("Error writing content");
                    }
                })
                .catch(error => {
                    alert("Error: " + error);
                });
        }
        // 定时每1秒获取一次日志数据
        setInterval(fetchLogs, 1000);

        // 初次加载时获取一次日志数据
        fetchLogs();
    </script>
</body>

</html>